.checkbox {

    & + &.field {
        margin-top: 0;
    }

    .field__element {
        display: none;
    }

    .field__label {
        font-size: s($s3);
        font-weight: 400;

        &:hover:before {
            border-color: $cAnthracite1;
        }
    }

    .field__element:checked + .field__label:before {
        background: $cAnthracite1;
        border-color: $cAnthracite1;
        color: $cWhite;
    }

    .field__label::before {
        @include icon(github);
        color: $cWhite2;
        text-align: center;
        line-height: s(20, $s2);
        display: inline-block;
        font-size: s($s2, $s3);
        width: s(20, $s2);
        height: s(20, $s2);
        border-radius: s(2, $s2);
        opacity: 1;
        margin: 0;
        background: $cWhite2;
        border: 1px solid $cWhite6;
        vertical-align: 0px;
        margin-right: s(15, $s2);
        box-sizing: border-box;
        transition: color .15s $ease-out-quad, background .15s $ease-out-quad, border-color .15s $ease-out-quad;
    }
}