.color {

    .slideUp-enter-active, .slideUp-leave-active {
        transition: opacity .2s $ease-out-quad;
    }

    .slideUp-enter,
    .slideUp-leave-to {
        opacity: 0;
    }

    &__border {
        border-radius: s(3, $s2);
        border: 1px solid $cWhite5;
    }

    &__type {
        display: inline-block;
        font-size: s($s1);
        text-align: center;
        font-weight: 700;
        position: absolute;
        top: 1px;
        bottom: 1px;
        text-decoration: none;
        color: $cAnthracite1;
        overflow: hidden;
        border-right: 1px solid $cWhite5;
        text-transform: uppercase;
        width: s(65, $s1);
        line-height: s(45, $s1);
    }

    .field__element {
        border: none;
        font-size: s($s2);
        display: block;
        width: 100%;
        padding: s(15, $s2);
        transition: border-color .2s $ease-out-quad;
        padding-left: s(85, $s2);

        &:focus {
            outline: none;
            border-color: $cGray;
        }

        &::placeholder {
            color: $cGray;
        }

        .field--error & {
            border-color: $cAccent;
        }
    }

    &__expander {
        position: absolute;
        top: 1px;
        bottom: 1px;
        right: 0;
        width: s(77);
        border-left: 1px solid $cWhite5;
        text-decoration: none;
        transition: background .2s $ease-out-quad;

        &:after {
            @include icon(arrow_down);
            color: $cAnthracite1;
            position: absolute;
            top: 0;
            height: s(8, 10);
            bottom: 0;
            margin: auto;
            left: s(13, 10);
            font-size: s(10);
        }

        &:hover {
            background: rgba($cWhite5, .2);
        }
    }

    &__preview {
        position: absolute;
        top: 1px;
        bottom: 1px;
        right: 1px;
        width: s(22);
        height: s(22);
        border-radius: s(3);
        margin: auto s(15);
    }

    .field__container {
        &:before {
            display: none;
        }
    }

    .color {
        &__picker {
            border-radius: s(3);
            padding: s(20);
            padding-bottom: s(18);
        }

        &__range {
            position: relative;
            height: s(6);
            border-radius: s(6);
            background: red;
            margin-bottom: s(23);

            &--hue {
                background: linear-gradient(to right, red, yellow, #00ff00, cyan, blue, #ff00ff, red)
            }
        }

        &__handle {
            display: block;
            position: absolute;
            border-radius: 50%;
            width: s(18);
            height: s(18);
            border: s(6) solid $cAnthracite1;
            top: 0;
            bottom: 0;
            margin: auto;
            margin-left: s(-9);
            cursor: ew-resize;

            &:focus {
                outline: none;
                box-shadow: 0 0 0 s(4) rgba($cAnthracite2, .4);
            }
        }

        &__footer {
            position: relative;
            margin-top: s(30);
            padding-top: s(20);
            @include clearfix();
            text-align: right;

            .btn + .btn {
                margin-left: s(5, $s1);
            }

            &:before {
                content: '';
                display: block;
                height: 1px;
                top: 0;
                position: absolute;
                right: s(-20);
                left: s(-20);
                background: $cWhite5;
            }

            .color__preview {
                position: static;
                display: block;
                float: left;
                width: s(35);
                height: s(35);
                margin: 0 s(20) 0 0;
                transition: background .2s $ease-out-quad;
            }

            .color__data {
                width: 70%;
                float: left;
                text-align: left;
            }

            .color__label {
                font-size: s($s2);
                display: inline-block;
            }

            .color__line {
                margin-top: s(-1);
            }

            .color__line + .color__line {
                margin-top: s(4);
            }

            input[type=number]::-webkit-inner-spin-button, 
            input[type=number]::-webkit-outer-spin-button { 
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                margin: 0; 
            }

            .color__value {
                font-size: s($s2); 
                font-weight: 600;
                border: none;
                padding: 0;
                border-bottom: 1px dotted $cWhite5;
                margin-right: s(15, $s2);
                max-width: s(30, $s2);
                transition: border-color .2s $ease-out-quad;

                &--hex {
                    max-width: s(70, $s2);
                }

                &:focus {
                    outline: none;
                    border-color: $cGray;
                }
            }
        }
    }
}