.date {
    .field__element {
        cursor: pointer;
    }

    &__calendar {
        right: 0;
        margin-top: s(15);
        border-color: $cWhite3;
        border-radius: s(3);
        padding: s(15);
    }

    .up {
        font-size: s($s2);
        color: $cAnthracite1;
        font-weight: 700;
    }

    .vdp-datepicker__clear-button {
        position: absolute;
        z-index: 15;
        width: 25px;
        right: 75px;
        top: 1px;
        line-height: s(45);
        height: s(45);
        color: $cAccent;
        text-indent: -9999px;

        &:before,
        &:after {
            position: absolute;
            right: 0;
            top: 22px;
            content: '';
            display: inline-block;
            width: 12px;
            height: 2px;
            background: $cAnthracite1;
            transform-origin: center;
            transition: background .2s $ease-out-quad;
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }

        &:hover:before,
        &:hover:after {
            background: $cAccent;
        }
    }

    .wrapperClass {
        &:after {
            @include icon(calendar);
            position: absolute;
            right: 0;
            top: 1px;
            text-align: center;
            line-height: s(45, 20);
            font-size: s(20);
            width: s(50, 20);
            height: s(46, 20);
            border-left: 1px solid $cWhite5;
            pointer-events: none;
        }
    }

    .cell {
        border-radius: 3px;
        height: 30px;
        line-height: 28px;
    }

    .cell.day {
        border-radius: 50%;
        width: 30px;
        line-height: 28px;
        margin: 4px;
    }

    .cell.month, .cell.year {
        margin: 10px 0;
    }

    .cell.selected {
        background: $cAnthracite1;
        color: $cWhite;
    }

    .day {
        font-weight: 600;
        font-size: s($s2);
    }

    .cell {
        transition: background .2s $ease-out-quad, border-color .2s $ease-out-quad;
    }

    .day-header {
        font-weight: 600;
        font-size: s($s1);
        color: $cGray;
    }

    .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover, .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover, .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover {
        border-color: $cWhite5;
        background: rgba($cWhite5, .2);
        color: $cAnthracite1;
    }

    .vdp-datepicker__calendar header .next:not(.disabled):hover, .vdp-datepicker__calendar header .prev:not(.disabled):hover, .vdp-datepicker__calendar header .up:not(.disabled):hover {
        background: transparent;
    }

    header .prev,
    header .next {

        &:hover:before {
            color: $cAccent;
        }

        &:before {
            color: $cAnthracite1;
            font-size: s(12);
            height: s(12, 12);
            position: absolute;
            text-indent: 0;
            top: 0;
            right: 0;
            left: 0;
            width: s(5, 12);
            bottom: 0;
            margin: auto;
            transition: color .2s $ease-out-quad;
        }

        &:after {
            display: none;
        }
    }

    header .prev {
        &:before {
            @include icon(arrow_left);
        }
    }

    header .next {
        &:before {
            @include icon(arrow_right);
        }
    }

}