.repeater {
    background: $cWhite;

    > .field__container {
        border-radius: s(3);
        border: 1px solid $cWhite5;
        transition: height .2s $ease-out-cubic, border-color .2s;

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: s(10);
            bottom: s(10);
            left: s(-10);
            right: s(10);
            border: 1px solid $cWhite5;
            border-radius: 3px;
            z-index: -1;
            opacity: 0;
            transform: translateX(5px);
            transition: transform .25s $ease-out-quad, opacity .25s $ease-out-quad;
        }
    }

    &--empty .field__footer {
        border-top: none;
    }

    &--parent {
        > .field__container {
            border-color: $cAccent;

            &:before {
                opacity: 1;
                transform: none;
            }
        }
    }

    &__item {
        padding: s(25, $s2) s(20, $s2);
        font-size: s($s2);
        border-top: 1px solid $cWhite5;
        position: relative;
        overflow: hidden;

        &:first-child {
            border-top: none;
        }

        .field__label {
            font-size: 1em;

            &:after {
                content: ':';
            }
        }
    }

    &__preview {
        display: inline-block;
        margin-right: s(5, $s2);

        & + .repeater__preview:before {
            content: '-';
            margin-right: s(5, $s2);
        }

        .field__label {
            margin-bottom: 0;
        }
    }

    &__number {
        font-weight: 700;
        margin-right: s(5, $s2);
    }

    &__title {
        margin-bottom: s(5, $s2);
        white-space: nowrap;
        max-width: 100%;

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: s(150);
            background: linear-gradient(to right, rgba(white, 0), rgba(white, .8), white);
        }
    }

    &__control {
        color: $cGray;
        position: relative;
        z-index: 15;
        user-select: none;
        text-decoration: none;
        transition: color .3s $ease-out-quad;

        & + &:before {
            content: '-';
            display: inline-block;
            margin-right: s(7, $s2);
            margin-left: s(3, $s2);
        }

        &:hover {
            color: $cAccent;

            &:before {
                color: $cGray2;
            }
        }

        &--edit {
            position: static;

            &:hover:after {
                background: rgba($cWhite5, .2);
                color: $cGray;
            }

            &:after {
                text-decoration: none;
                @include cover();
                transition: background .2s $ease-out-quad, color .2s $ease-out-quad;
                @include icon(draggable);
                color: $cWhite6;
                line-height: s(85, 18);
                text-align: right;
                font-size: s(18, $s2);
                padding-right: s(10, 18);
            }
        }

        &--destroy {
            font-weight: 700;
            color: $cAccent;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__editable {
        
        &.slide-leave-to {
            transform: translateX(s(15));
        }
    }

    &__items {

        &.slide-enter {
            transform: translateX(s(-15));
        }
    }

    &__fields {
        padding: s(20) s(30);
    }

    &__preview {
        &--color {
            display: inline-block;
            width: s(16, $s2);
            height: s(16, $s2);
            border-radius: s(3, $s2);
            vertical-align: s(-3, $s2);
            margin-left: s(4, $s2);
            margin-right: s(2, $s2);
        }
    }


    // Nested styles

    .group .field__container {
        border: none;
        padding: 0;
    }

    .group .group__backlink {
        margin-top: s(-20, $s2);
    }

    .repeater .field__footer {
        margin-bottom: s(-100);
    }

}