.select {

    .field__element {
        cursor: pointer;
        position: relative;
        
        &:before,
        &:after {
            content: '';
            display: inline-block;
            width: s(7);
            height: s(2);
            background: $cAnthracite1;
            position: absolute;
            top: s(-5);
            bottom: 0;
            margin: auto;
            border-radius: 2px;
        }

        &:before {
            transform-origin: bottom right;
            transform: rotate(-45deg);
            right: s(20);
        }

        &:after {
            transform-origin: bottom left;
            transform: rotate(45deg);
            right: s(23);
        }
    }

    &__dropdown {
        background: $cWhite;
        border: 1px solid $cWhite5;
        border-top: none;
        border-radius: 0 0 s(3) s(3);
        position: absolute;
        z-index: 5;
        width: 100%;

        &.slideDown-enter-active, &.slideDown-leave-active {
            transition: opacity .2s $ease-out-quad, transform .2s $ease-out-quad;
        }

        &.slideDown-enter, &.slideDown-leave-to {
            opacity: 0;
            transform: translateY(-5px);
        }
    }

    &--expanded .field__element {
        border-radius: s(3) s(3) 0 0;
    }

    &__option {
        font-size: s($s2);
        display: block;
        text-decoration: none;
        color: $cAnthracite1;
        padding: s(17, $s2) s(15, $s2);
        border-bottom: 1px solid $cWhite5;
        transition: background .2s $ease-out-quad;

        &:last-child {
            border-bottom: none;
        }

        &:hover {
            background: rgba($cWhite5, .2);
        }
    }
}