.textfield .field__element,
.select .field__element,
.date .field__element {
    border: 1px solid $cWhite5;
    font-size: s($s2);
    border-radius: s(3, $s2);
    display: block;
    width: 100%;
    padding: s(15, $s2);
    transition: border-color .2s $ease-out-quad;

    &:focus {
        outline: none;
        border-color: $cGray;
    }

    &::placeholder {
        color: $cGray;
    }

    .field--error > & {
        border-color: $cAccent;
    }
}

.textfield--limited,
.textfield--email,
.textfield--password {
    .field__container:before {
        display: inline-block;
        font-size: s($s1);
        text-align: center;
        font-weight: 700;
        position: absolute;
        top: 1px;
        bottom: 1px;
        overflow: hidden;
        border-right: 1px solid $cWhite5;
     }
}

.textfield--email,
.textfield--password {
    .field__container:before {
        font-size: s($s3);
        width: s(50);
        line-height: s(45);
    }

    .field__element {
        padding-left: s(70, $s2);
    }
}

.textfield--limited {
    .field__container:before {
        content: attr(data-remaining);
        width: s(65, $s1);
        line-height: s(45, $s1);
        transition: color .2s $ease-out-quad;
    }

    .field__element {
        padding-left: s(85, $s2);
    }

    &.field--shake {
        .field__container:before {
            color: $cAccent;
        }
    }
}

.textfield--readonly {
    .field__label {
        &:before {
            @include icon(lock);
            opacity: 1;
            color: $cAnthracite3;
            margin-left: 0;
            font-size: s(12, $s2);
            vertical-align: 0;
        }
    }
    .field__element {
        background: #f4f4f4;
    }
}

.textfield--email .field__container {
    &:before {
        content: '@';
        width: s(50);
    }
}

.textfield--password .field__container {
    &:before {
        @include icon(key);
        font-size: s(9);
        width: s(50, 9);
        line-height: s(45, 9);
    }
}

.textfield--textarea {
    position: relative;

    &:after {
        @include icon(resize);
        font-size: s(11);
        width: s(16, 11);
        height: s(16, 11);
        background: $cWhite;
        position: absolute;
        bottom: 1px;
        right: 1px;
        pointer-events: none;
        color: $cWhite6;
    }

    .field__element {
        min-height: s(150);
        resize: vertical;
        line-height: s($s6, $s2);
    }

    &.textfield--readonly {
        &:after {
            background: #f4f4f4;
        }
    }
}

