.url {
    &__switcher {
        position: absolute;
        right: 0;
        top: 1px;
        bottom: 1px;
        font-size: s($s1);
        padding: 0 s(15, $s1);
        text-decoration: none;
        text-transform: uppercase;
        color: $cAnthracite1;
        font-weight: 700;
        line-height: s(45, $s1);
        border-left: 1px solid $cWhite5;
        transition: background .2s $ease-out-quad;

        &:hover {
            background: rgba($cWhite5, .2);
        }
    }

    .field__element {
        position: static;
        cursor: auto;
    }

    &--internal {
        .url__switcher:before {
            @include icon(arrow_down);
            pointer-events: none;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            font-size: s(10, $s1);
            height: 1em;
            left: s(-30, 10);
            transition: transform .2s $ease-out-quad;
        }
    }

    &--expanded {
        .url__switcher:before {
            transform: scaleY(-1);
        }

        .field__element {
            border-radius: s(3) s(3) 0 0;
        }
    }

    &__route {
        display: inline-block;
        margin-left: s(5);
        color: $cGray;
    }
}