.pagination {

    &__previous,
    &__next {
        display: inline-block;
        vertical-align: s(-3);
        padding: 0 s(10);

        &:before,
        &:after {
            content: '';
            display: block;
            width: 1px;
            height: s(8);
            background: $cAnthracite1;
        }

        &:before {
            transform-origin: bottom;
        }

        &:after {
            transform-origin: top;
        }
    }

    &__previous {
        margin-right: s(7);

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }
    }

    &__next {
        &:before {
            transform: rotate(-45deg);
        }

        &:after {
            transform: rotate(45deg);
        }
    }

    &__page {
        text-decoration: none;
        font-weight: 600;
        padding: 0 s(7);
        color: $cAnthracite1;

        &--active {
            color: $cAccent;
        }
    }

    &--disabled {
        color: $cGray;

        &:before,
        &:after {
            background: $cGray;
        }
    }

}